.hero {
    width: 100%;
    height: 80vh
}

.hero-content {
    width: 100%;
    margin-left:  auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
}

.banner-image {
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.75);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3vh
}


.banner-image img {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.info {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    padding: 4rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h2 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.info p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
}

.info p:last-child {
    margin-bottom: 0;
}

.info ul {
    list-style-type: disc;
    padding-left: 2rem;
}

.info ul li {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}