.blank-space {
    background:  url('images/IMG-20251202-WA0042.jpg')
}

.air-con-info {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
}

.air-con-info h1 {
    text-align: center;
    padding: 2rem 0;
    font-size: clamp(2rem, 5vw, 3rem);
}

.air-con-info h2 {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

.air-con-info p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.air-con-info ul {
    list-style-type: disc;
    padding-left: 2rem;
}

.air-con-info ul li {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.card-section {
    width: 100%;
    background-color: #333;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    padding-bottom: 5vh;
    gap: 2rem;
}

.card {
    background-color: #dad8d8;
    border-radius: 3vh;
    padding: 2vw;
    width: 30%;
    position: relative
}

.card img {
    width: 100%;
    border-radius: 2vh;
    margin-bottom: 1rem;
    aspect-ratio: 1/1;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.card p {
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
}

.card button {
    display: block;
    margin: 1rem auto 0 auto;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    
}

.faqs {
    margin-top: 0px;
}

@media (max-width: 768px) {
    .card-section {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}