.blank-space {
    background: url('images/IMG-20251202-WA0038.jpg');
}

.washing-machine, .tumble-dryer, .dish-washer {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    gap: 5rem;
    padding-top: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.washing-machine-image, .tumble-dryer-image, .dish-washer-image {
    width: 40%;
    background-color: white;
    border-radius: 3vh;
    display: block;
    place-items: center;
}

.washing-machine-image img, .tumble-dryer-image img, .dish-washer-image img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1/1;
    border-radius: 3vh;
}

.washing-machine-content, .tumble-dryer-content, .dish-washer-content {
    width: 40%;
}

.washing-machine-content h2, .tumble-dryer-content h2, .dish-washer-content h2 {
    font-size: clamp(2rem, 3vw, 2.5rem);
    margin-bottom: 2vh;
}

.washing-machine-content p, .tumble-dryer-content p, .dish-washer-content p {
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.6;
}

.faqs {
    margin-top: 0%;
}

@media (max-width: 768px) {
    .washing-machine, .tumble-dryer, .dish-washer {
        flex-direction: column;
        align-items: center;
    }

    .washing-machine-image, .tumble-dryer-image, .dish-washer-image {
        width: 80%;
    }

    .washing-machine-content, .tumble-dryer-content, .dish-washer-content {
        width: 80%;
    }
}