body {
    background: url('images/IMG-20251202-WA0034.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    overflow-x: hidden;
}


.hero {
    background: url('images/IMG-20251202-WA0006.jpg')
}

.blank-space {
    display: none;
}

.hero-content {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-film {
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    flex-direction: column;
    place-content: center;
}

.fridge-body {
    width: 100%;
    padding: 3vh;
}

.fridge-content {
    width: 60%;
    padding: 5%;
    background:rgba(255, 255, 255, 0.75);
    border-radius: 5vh;
}

.fridge-content h1 {
    text-align: center;
    padding: 2rem 0;
    font-size: clamp(2rem, 5vw, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.fridge-content h2 {
    text-align: center;
    padding: 2rem 0;
    font-size: clamp(1.5rem, 3vw, 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.fridge-content p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.fridge-content ul {
    margin-left: 10%;
    margin-bottom: 1.5rem;
}

.fridge-details {
    width: 100%;
}

.regassing {
    width: 60%;
    margin-left: auto;
    margin-right: 5%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5vh;
    border-radius: 5vh;
}

.regassing h2, .compressor h2{
    text-align: center;
    padding: 1rem 0;
    font-size: clamp(1.5rem, 3vw, 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.gas-details {
    width: 90%;
    padding: 1rem;
    border-radius: 5vh;
    display: flex;
    gap: 2rem;
    overflow: hidden;
}
.gas-details img {
    width: 50%;
    border-radius: 3.75vh;
}

.gas-details p {
    width: 50%;
    align-self: center;
    text-align: center;
    text-decoration: underline underline;
}

.regassing button {
    display: block;
    margin-left: 0;
}

.comps {
    width: 100%;
    padding: 3vh;
}

.compressor {
    width: 60%;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5vh;
    border-radius: 5vh;
}

.compressor-details {
    width: 90%;
    padding: 1rem;
    border-radius: 5vh;
    display: flex;
    gap: 2rem;
    overflow: hidden;
}

.compressor img {
    width: 50%;
    border-radius: 3.75vh;
}

.compressor p {
    width: 50%;
    align-self: center;
    text-align: center;
    text-decoration: underline underline;
}

.compressor button {
    display: block;
    margin-left: 0;
}

.rels {
    width: 100%;
}

.relays {
    width: 60%;
    margin-left: auto;
    margin-right: 5%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5vh;
    border-radius: 5vh;
}

.relays h2 {
    text-align: center;
    padding: 1rem 0;
    font-size: clamp(1.5rem, 3vw, 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.relay-details {
    width: 90%;
    padding: 1rem;
    border-radius: 5vh;
    display: flex;
    gap: 2rem;
    overflow: hidden;
}

.relay-details img {
    width: 50%;
    border-radius: 3.75vh;
}

.relay-details p {
    width: 50%;
    align-self: center;
    text-align: center;
    text-decoration: underline underline;
}

.relays button {
    display: block;
    margin-left: 0;
}

.other {
    width: 100%;
    margin-top: 4vh;
}

.other-issues {
    width: 75%;
    margin: 0 auto;
    background:rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 2vh;
    padding: 5vh;
}

.other-issues p {
    line-height: 1.6;
}

.other-issues ul {
    padding-left: 5%;
    line-height: 1.5;
}

@media (max-width:850px) {
    .fridge-content{
        width: 80%;
        padding: 3vh;
        border-radius: 2vh;
    }

    .regassing {
        width: 80%;
        padding: 3vh;
        border-radius: 2vh;
    }

    .compressor {
        width: 80%;
        padding: 3vh;
        border-radius: 2vh;
    }

    .gas-details, .compressor-details {
        width: 100%;
        padding: 0.5rem;
        gap: 1rem;
        flex-direction: column;
    }

    .gas-details img, .gas-details p 
    {
        width: 100%;
        border-radius: 1.75vh;
    }

    .compressor-details img, .compressor-details p{
        width: 100%;
        border-radius: 1.75vh;
    }


    .compressor button {
        display: block;
        margin-left: 0;
    }

    .relays {
        width: 80%;
        padding: 3vh;
        border-radius: 2vh;
    }

    .relay-details {
        width: 100%;
        padding: 0.5rem;
        gap: 1rem;
        flex-direction: column;
    }

    .relay-details img, .relay-details p {
        width: 100%;
        border-radius: 1.75vh;
    }
}

