@media (max-width: 900px) {
    .mobile {
        display: block;
        cursor: pointer;
        z-index: 1000;
    }

    .nav-items {
        flex-direction: column;
        width: 100%;
        display: none;
        /*experimental*/
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        top: 0;
    }

    .nav-items.active {
        display: flex;
        z-index: 1000;
        background-color: #08c4f3;
        margin-top: 80px;
        overflow-x: hidden;
        position: absolute;
        left: 0;
    }
    .nav-items a {
        padding: 0.5rem 0;
    }

    .navbar .contact {
        display: none;
    }

    .hero {
        width: 100vw;
        overflow-x: hidden;
    }

    .service-card {
        flex-basis: 100%;
        border-radius: 5vw !important;
        height: auto !important;
        padding-bottom: 1rem;
    }

    .service-card img {
        width: 40%;
    }

    /*.service-card button {
        position: static;
        margin-top: 1rem;
    }*/

    .body-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .body-item img {
        height: 1rem;
        margin-bottom: 0.5rem;
        width: fit-content;
    }

    .faqs-container {
        width: 95%;
    }

    .faq-item {
        padding: 1rem;
    }

    .faq-item h3 {
        font-size: 1.25rem;
    }

    .faq-item p {
        font-size: 0.9rem;
    }

    footer {
        flex-direction: column;
        gap: 1rem;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 450px) {
    .service-card img {
        width: 30%;
    }

    .service-card {
        padding-bottom: 2rem;
    }

    .service-card h2 {
        font-size: 3vw;
    }
    .service-card p {
        font-size: 2.5vw;
    }

    .service-card button {
        padding: 4px 8px;
    }

    .faq-item h3 {
        font-size: 1rem;
    }
}