@media (max-width: 768px) {
    .navbar {
        /*flex-direction: column;
        align-items: flex-start;
        gap: 1rem;*/
    }

    .mobile {
        display: block;
        cursor: pointer;
    }

    .nav-items {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-items.active {
        display: flex;
    }
    .nav-items a {
        padding: 0.5rem 0;
    }

    .faqs-container {
        width: 95%;
    }

    .faq-item {
        padding: 1rem;
    }

    .faq-item h3 {
        font-size: 1.25rem;
    }

    .faq-item p {
        font-size: 0.9rem;
    }

    footer {
        flex-direction: column;
        gap: 1rem;
        padding-left: 5%;
        padding-right: 5%;
    }
}