.blank-space {
    background: url('images/IMG-20251205-WA0012.jpg')
}

.stove-cards {
    width: 100%;
    background-color: #333;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    padding-bottom: 5vh;
    gap: 2rem;
}

.stove-card {
    background-color: #dad8d8;
    border-radius: 3vh;
    padding: 2vw;
    width: 30%;
    box-shadow: 0 4px 8px rgba(10, 142, 250, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.stove-card img {
    width: 100%;
    border-radius: 2vh;
    margin-bottom: 1rem;
    aspect-ratio: 1/1;
}

.stove-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.stove-card p {
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
}

.stove-card button {
    display: block;
    margin: 1rem auto 0 auto;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    
}

.faqs {
    margin-top: 0%;
}

@media (max-width: 768px) {
    .stove-cards {
        flex-direction: column;
        align-items: center;
    }

    .stove-card {
        width: 80%;
    }
}