* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.navbar {
    background-color: #08c4f3;
    width: 100vw;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.contact {
    background-color: #ff5733;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.contact:hover {
    background-color: #e04e2a;
}

.hero {
    height: 70vh;
    width: 100%;
    background-color: #08c4f3;
    display: flex;
}

.hero-film {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: rgba(0, 0, 0, 0.5); /* Optional overlay for better text visibility */
}

.blank-space {
    width: 55%;
    border-radius: 0 50% 50% 0;
    background: url('./images/IMG-20251202-WA0019.jpg') no-repeat center center/cover;
}
.hero-content {
    width: 45%;
    color: white;
    text-align: center;
    display: grid;
    place-content: center;
    border-radius: 35% 0 35% 0;
    margin-right: 80px
}
.hero-content h1 {
    font-size: 3rem;
}

.hero-content h2 {
    font-size: 1.75rem;
    margin-top: 10px;
}

.hero-button {
    padding: 10px 25px;
    background-color: #ff5733;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    display: block; 
    margin: 0 auto;
    margin-top: 1.5rem;
}

.hero-button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-button:hover {
    background-color: #e04e2a;
}

.main {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #e6e6e6;
}

.main h1 {
    text-align: center;
    padding: 2rem 0;
    font-size: clamp(2rem, 5vw, 3rem);
}

.services-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 4rem;
}
.service-card {
    width: 40%;
    background-color: white;
    padding: 10px;
    border-radius: 10px 30% 30% 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex: 1;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: space-between;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card img {
    width: 200px;
    max-height: 200px;
    border-radius: 50%;
    object-fit: cover;
}